body {
    display: flex;
    flex-direction: column; /* arrage items on top of the other */
    justify-content: center;
    align-items: center;
    background-color: black;
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
  }

#world {
    background-color: #393737;
    border: 1px solid white;
    box-shadow: white 1px 1px 25px;

}